

body {
    font-size: 18px;               
    color: #08070a;               
    background-color: #66d1df;  
    min-height: 100vh;
    display: flex;
    justify-content: center;
   
}
main {
    background-color: #ffffff;
    padding: 40px 50px;
    max-width: 250px;
    border-radius: 10px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Campos */
.field {
    margin-bottom: 20px;
}

.error {
    color:blue;
    font-size: 0.8rem;
}
input.invalid{
    border: 2px solid red;
}
input.valid{
    border: 5px solid green;
}
.success-message {
    color: green;
}