
body {
    font-family: 'Lucida Sans', sans-serif; 
    font-size: 18px;               
    color: #08070a;               
    background-color: #f1f1ed;    
}
/* Encabezados*/
h1 {
    color: #81b1df;
    background-color: #7a4b5f; 
    font-family: 'Lucida Sans', sans-serif;
    text-align: center;

}
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 2;
    text-align: left;
    font-weight: bold;
}
label{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 2;
    text-align: left;
    font-weight: bold;
}
button{
     background: linear-gradient(to right, rgb(188, 188, 230));
    color: #0c051d;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    font-weight: bold;
}

h2 {
    color: rgb(2, 28, 49);
    background-color: #c7aeb9;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px; /* más razonable */
    margin-top: 20px;
}
.imagen-galeria {
    width: 100%;
    height: 150px;
    object-fit: cover; /* mantiene proporción */
    cursor: pointer;
}
.seleccionada { 
    border: 4px solid #c02b69; /* borde azul grueso */
    box-shadow: 0 0 15px rgba(83, 10, 35, 0.7); /* sombra */ 
    transform: scale(1.15); /* pequeño zoom al seleccionar */ 
}

