
/* Encabezados*/
h1 {
    color: #81b1df;
    background-color: #7a4b5f; 
    font-family: Arial, sans-serif;
    text-align: center;

}
.imagen-galeria {
    width: 200px;
    margin: 20px;
    cursor: pointer;
}

.seleccionada {
    border: 3px solid rgb(104, 29, 60);
}